<div class="container">
  <h3 style="color:blue">Fernando Wertt Reta Template</h3>
  <h1>DATABINDING</h1>
  <app-cockpit
  (serverCreated)="onServerAdded($event)"
  (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary" (click)="onChangeFirst()">Change</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy element</button>
      <app-server-element 
      *ngFor="let serverElement of serverElements"
      [element]="serverElement"
      [name]="serverElement.name"
      >
      <p #contentParagraph>
        <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
        <em *ngIf="serverElement.type === 'blueprint'" style="color: blue">{{ serverElement.content }}</em>
      </p>
    </app-server-element>

      <hr/>
      <button class="btn btn-primary" (click)="cambialo()">cambialo</button>
      <app-cambio
      *ngFor="let dato of datos"
      [nombre]='dato.nombre'
      ></app-cambio>
    </div>
  </div>
</div>
